@{
    ViewBag.Title = "Explore";
}
@using MvcApplication1.Models;
@model dynamic

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Explore.css" rel="stylesheet" />
    <link href="~/Content/Menubar.css" rel="stylesheet" type="text/css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title></title>
</head>
<body>

    <div class="wrapper">
        <div class="column">
            @{User user = Model.User;
                <img src="@user.display_pic" height="160" width="160" alt="Avatar">
                <h2>@user.first_name&nbsp;@user.last_name</h2>
            }s
            <ul>
                <li><a href="~/Home/HomePage"><i class="fas fa-home"></i>Home </a></li>
                <br>
                <li><a href="~/Home/ProfilePage"><i class="fas fa-user"></i>Profile     </a></li>
                <br>
                <li class="active"><a href="~/Home/Explore"><i class="fas fa-hashtag"></i>Explore     </a></li>
                <br>
                <li><a href="~/Home/Notifications"><i class="fas fa-bell"></i>Notifications     </a></li>
                <br>
                <li><a href="~/Home/Messages"><i class="fas fa-envelope"></i>Messages   </a></li>
                <br>
                <li><a href="~/Home/Settings"><i class="fas fa-cog"></i>Settings    </a></li>
                <br>
                <li><a href="~/Home/LogOut"><i class="fas fa-sign-out-alt"></i>Logout   </a></li>
                <br>
            </ul>

        </div>


        <div style="width:60%;">
            <!-- Search Form -->
            <form method="post" action="../Home/Explore">
                <input type="text" id="search" name="search" placeholder="Search User" class="search_input">
                <input type="submit" value="Search" class="search_button">
            </form>



            <div class="centre-column">
                <div id="centre-title">Search Result</div>
                <br />
                @foreach (User U in Model.Searched_people)
                {
                    <div class="Searched_list">
                        <p id="Searched_list_data">

                            <span>@U.display_pic</span><br />
                            <span>@U.first_name</span><br />
                            <span>@U.last_name</span><br />
                            <span>@U.username</span><br />
                            <span>@U.gender</span><br />
                            <span>@U.country</span><br />
                            <br />
                            <br />
                        </p>
                    </div>
                }

            </div>
        </div>




        <div class="tags">
            <h1>Trending Hashtags</h1>
            @foreach (hashtag_trending Trends in Model.trending_hashtags)
            {
                <h2>@Trends.hashtag&nbsp;</h2>
                <h4>@Trends.count tweets</h4>
                <br>

            }
        </div>
    </div>
</body>
</html>
