@{
    ViewBag.Title = "Following";
}

@using MvcApplication1.Models;
@model dynamic

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Following</title>
    <link href="~/Content/Menubar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/FollowPages.css" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <header>
        <div class="main">
                @{User user = (User)Model.user;
                    <h2 id="name">@user.first_name &nbsp; @user.last_name</h2>
                    <p id="name"> &#64;@user.username</p>
                }  
            <ul class="f">
                <br>
                <li id="back"><a href="~/Home/ProfilePage"><i class="fas fa-arrow-left"></i></a></li> 
                <br>
                <li class="active f" id="l"><a href="~/Home/Following">Following</a></li><li class="f" id="r"><a href="~/Home/Followers">Followers</a></li>
            </ul>
        </div>
        <div class="centre-f">
            @foreach (User followed in Model.following)
            {
                <div class="user-box">
                    <p>
                        <h2>@followed.first_name &nbsp; @followed.last_name</h2><button class="btn" id="unfollow" onclick="location.href = '../../Home/UnFollow?username=@followed.username'">Unfollow <i class='fas fa-user-minus'></i></button>
                        &#64;@followed.username &nbsp;&nbsp;&nbsp;<span id="ftag">Following</span>
                        <br />
                        @followed.status
                    </p>
                </div>
            }
        </div>
    </header>
    <script>

    </script>
</body>
</html>