@{
    ViewBag.Title = "HomePage";
}
@using MvcApplication1.Models;
@model dynamic


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/Menubar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/HomePage.css" rel="stylesheet" />
    <link href="~/Content/RightColumn.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <div class="wrapper">
        @*row*@
        <div class="column" style="width:20%">
            @*column1*@
            @{User user = Model.User;
                <img src="@user.display_pic" height="160" width="160" alt="Avatar">
                <h2>@user.first_name&nbsp;@user.last_name</h2>
                <h4 style="font-weight:normal;font-size:medium">&#64;@user.username</h4>
            }
            <ul>
                <li class="active"><a href="~/Home/HomePage"><i class="fas fa-home"></i>Home </a></li>
                <br>
                <li><a href="~/Home/ProfilePage"><i class="fas fa-user"></i>Profile     </a></li>
                <br>
                <li><a href="~/Home/Explore"><i class="fas fa-hashtag"></i>Explore     </a></li>
                <br>
                <li><a href="~/Home/Notifications"><i class="fas fa-bell"></i>Notifications     </a></li>
                <br>
                <li><a href="~/Home/Messages"><i class="fas fa-envelope"></i>Messages   </a></li>
                <br>
                <li><a href="~/Home/Settings"><i class="fas fa-cog"></i>Settings    </a></li>
                <br>
                <li><a href="~/Home/LogOut"><i class="fas fa-sign-out-alt"></i>Logout   </a></li>
                <br>
            </ul>



            <button id="tweet-button" style="padding: 15px 25px; color:#fff; background-color: #56baed; border-radius: 15px; display: inline-block; cursor: pointer; text-align: center; box-shadow: 0 9px #999; border: none; outline: none; margin-left:1%; font-size: 24px;">Tweet</button>

            <!-- The Modal for tweet -->
            <div id="myModalForTweet" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close1">&times;</span>
                    <form autocomplete="off" method="post" action="../Home/postTweet">
                        <input id="tweet" type="text" name="tweet" placeholder="What's Happening...."><br><br>
                        <input type="submit" value="Tweet">
                    </form>

                </div>
            </div>
        </div>
        <div class="feed" style="width:60%">
            @*column to display tweets*@
            <div id="centre-title">Feed</div>
            <br />
            @foreach (feedObject feedObject in Model.feed)
            {
                <div class="user-box">
                    <img src="@feedObject.display_pic" alt="Avatar" id="tweet-box">
                    <p id="tweet-box">
                        <span id="name">@feedObject.first_name&nbsp;@feedObject.last_name</span>
                        <span id="details">&nbsp; &#64;@feedObject.username</span>
                        <span id="details" style="float:right">@feedObject.userTweet.date&nbsp;&nbsp;@feedObject.userTweet.time</span>
                        <br />
                        <span style="color:black">@feedObject.userTweet.tweet</span>
                        <br /><br />
                        <span id="tweet-details">
                            @feedObject.userTweet.no_of_comments <button id="comment-btn" onclick="ShowModal(@feedObject.userTweet.tweetID)"><i style="color:#0094ff" id="tweet-details" class="far fa-comment-alt"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@feedObject.userTweet.no_of_likes <button id="like-btn" onclick="location.href = '../../Home/likeTweet?tweetID=@feedObject.userTweet.tweetID'"><i style="color:#0094ff" id="tweet-details" class="far fa-thumbs-up"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@feedObject.userTweet.no_of_dislikes <button id="dislike-btn" onclick="location.href = '../../Home/dislikeTweet?tweetID=@feedObject.userTweet.tweetID'"><i style="color:#0094ff" id="tweet-details" class="far fa-thumbs-down"></i></button>
                        </span>
                    </p>

                </div>

                <div id="@feedObject.userTweet.tweetID" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close2" onclick="HideModal(@feedObject.userTweet.tweetID)">&times;</span>
                        <form autocomplete="off" method="post" action="../Home/commentOnTweet?tweetID=@feedObject.userTweet.tweetID">
                            <input id="commentText" type="text" name="commentText" placeholder="Write your comment"><br><br>
                            <input type="submit" value="Comment">
                        </form>

                    </div>
                </div>


            }


        </div>
        <div class="column3">

            <div class="tags">
                <h1 style="color:#0094ff">Trending Hashtags</h1>
                @foreach (hashtag_trending Trends in Model.trending_hashtags)
                {
                    <h2>@Trends.hashtag&nbsp;</h2>
                    <h4>@Trends.count tweets</h4>
                    <br>

                }
            </div>


            <br />
            <br />
            <br />
            <div class="Suggested_people">
                <h2 style="color:#0094ff">People You May Know...</h2>
                <br />
                @foreach (User People_U_Should_Follow_list in Model.Suggested_people)
                {
                    <div class="user-box">
                        <img src="@People_U_Should_Follow_list.display_pic" alt="Avatar" id="tweet-box">
                        <p id="tweet-box">
                            <span id="name">@People_U_Should_Follow_list.first_name&nbsp;@People_U_Should_Follow_list.last_name</span>
                            <br />
                            <span id="details">&nbsp; &#64;@People_U_Should_Follow_list.username</span>
                            <br />
                            <br />
                            <button style="float:right" class="btn" id="follow" onclick="location.href = '../../Home/Follow_in_HomePage?username=@People_U_Should_Follow_list.username'">Follow <i class='fas fa-user-plus'></i></button>

                            <span style="color:black"></span>
                            <br />
                        </p>
                    </div>
                }
            </div>



        </div>
    </div>
    <div id="snackbar">Your tweet is posted:)</div>
    <script>
        // Get the modal
        var modal = document.getElementById("myModalForTweet");

        // Get the button that opens the modal
        var btn = document.getElementById("tweet-button");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close1")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script>
        function ShowModal(id) {
            var modal = document.getElementById(id);
            modal.style.display = "block";


            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        function HideModal(id) {
            var modal = document.getElementById(id);
            modal.style.display = "none";
        }

    </script>

    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 6000);
        }
    </script>


</body>
</html>
