@{
    ViewBag.Title = "Messages";
}

@using MvcApplication1.Models;
@model dynamic

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/Menubar.css" rel="stylesheet" type="text/css" />
    
    <link href="~/Content/RightColumn.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link href="~/Content/Messages.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        @*row*@
        <div class="column">
            @*column1*@
            @{User user = Model.User;
                <img src="@user.display_pic" height="160" width="160" alt="Avatar">
                <h2>@user.first_name&nbsp;@user.last_name</h2>
                <h4 style="font-weight:normal;font-size:medium">&#64;@user.username</h4>
            }
            <ul>
                <li><a href="~/Home/HomePage"><i class="fas fa-home"></i>Home </a></li>
                <br>
                <li><a href="~/Home/ProfilePage"><i class="fas fa-user"></i>Profile     </a></li>
                <br>
                <li><a href="~/Home/Explore"><i class="fas fa-hashtag"></i>Explore     </a></li>
                <br>
                <li><a href="~/Home/Notifications"><i class="fas fa-bell"></i>Notifications     </a></li>
                <br>
                <li class="active"><a href="~/Home/Messages"><i class="fas fa-envelope"></i>Messages   </a></li>
                <br>
                <li><a href="~/Home/Settings"><i class="fas fa-cog"></i>Settings    </a></li>
                <br>
                <li><a href="~/Home/LogOut"><i class="fas fa-sign-out-alt"></i>Logout   </a></li>
                <br>
            </ul>

        </div>
        <div>
            <div class="Message_board" style="overflow-y:scroll">
                <div id="centre-title">Messages</div>
                <br />


                @foreach (Messages message in Model.Messages)
                {
                    <div class="message_Box">
                        <p id="message_data">
                            <span id="name">@message.senderName</span> :
                            <span id="text">@message.message</span>
                            <br />
                            <span id="time">@message.time</span>
                            <br />
                            <br />

                        </p>
                    </div>
                }


            </div>
            <div class="Send_message">
                <form method="post" action="../Home/Store_message">


                    


                    <input type="text" placeholder="message" aria-required="true" maxlength="280" id="m_id" class="" name="message">

                    <input type="submit" value="Send" id="submit_button" class="signup EdgeButton EdgeButton--primary EdgeButton--large submit">

                </form>
            </div>
        </div>

        <div class="follower_list">
            <div id="centre-title_f">Followers</div>
            

            <form method="post" action="../Home/Messages">



                <label>
                    <select id="rec" name="rec" style="margin-left:30px">


                        @foreach (User follower in Model.followers)
                        {

                            <option value="@follower.username">@follower.username</option>



                        }
                    </select>

                </label>

                <input type="submit" value="Chat" id="submit_button" class="signup EdgeButton EdgeButton--primary EdgeButton--large submit">

            </form>


        </div>



    </div>
    



</body>
